html, body{
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    width: 100%;
    margin: auto;
    overflow:hidden;
}

.bg-image{
    background: url(images/background.png) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    animation: shrink 9s alternate;
    animation-fill-mode: forwards;
}

@keyframes shrink {
    0% {
        transform: scale(1);
        background-attachment: fixed;

    }
    100% {
        transform: scale(1.1);
        background-attachment: fixed;

    }
}

.form{
    top: 25%;
    left: 25%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-family: 'Source Sans Pro', sans-serif;
    z-index: 1;
}

.blue-bg {
    background: #1B2347;
    height: 420px;
    width: 920px;
    opacity: 0.9;
    position: absolute;
    z-index: 2;
}

.white-bg{
    background-color: white;
    height: 460px;
    width: 460px;
    position: absolute;
    z-index: 3;
    transform: translate(440px, -20px);

}

.border{
    background: url(images/bg_folds.png) no-repeat;
    height: 460px;
    width: 10px;
    z-index: 1;
    position: absolute;
    transform: translate(430px, -20px);
}


.signup-text{
    color: white;
    padding-left: 82px;
    padding-top: 40px;
    height: 460px;
    width: 300px;
    font-size: 20pt;
}

.subtext{
    height: 100px;
    width: 260px;
    font-size: 12pt;
    line-height: 1.8;
}

.login-form{
    color: #3E495F;
    font-size: 20pt;
    padding-top: 60px;
    padding-left: 82px;
    z-index: 10;
    position: absolute;
}

.signup-form{
    color: #3E495F;
    font-size: 18pt;
    padding-top: 60px;
    padding-left: 82px;
    z-index: 10;
    display:none;
    position: absolute;
}

.login-text{
    color: white;
    font-size: 20pt;
    position: absolute;
    height: 150px;
    width: 300px;
    transform: translate(560px, -460px);
}

.underline{
    z-index: 3;
    content: url("images/line_under.png");
}

button{
    border-radius: 30px;
    background-color: #1B2347;
    border: 2px solid #49A9FD;
    opacity: 0.9;
    color: white;
    padding: 13px;
    width: 130px;
    font-size: 12px;
    letter-spacing: 2px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: #49A9FD;
}

.logo{
    background: url(images/logo.png) no-repeat;
    z-index: 2;
    position: absolute;
    width:38px;
    height:28px;
    transform: translate(245px, -55px);
}

.email-pic{
    z-index: 2;
    position: absolute;
    width:20px;
    height:20px;
    transform: translate(265px, -15px);
}

.password-pic{
    z-index: 2;
    position: absolute;
    width:20px;
    height:20px;
    transform: translate(265px, -15px);
}

.user-pic{
    z-index: 2;
    position: absolute;
    width:20px;
    height:20px;
    transform: translate(265px, -15px);
}

form {
    color: #8494B6;
    font-size: 12pt;
}

.form-row{
    line-height: 1.5;
}

input{
    border: 0;
    outline: 0;
    width: 280px;
    border-bottom: solid 1px #CAD2DF;
}

form label:after {
    color: #F24469;
    content: ' *';
    display:inline;
}

form input:after{
    content: 'url(images/logo.png) no-repeat';
    position: absolute;
    width:100%;
    height:100%;
    z-index: 2;
}

.login-button{
    border-radius: 30px;
    background-color: #F89A36;
    border: 2px solid #F89A36;
    color: white;
    margin-top: 20px;
    padding: 13px;
    width: 130px;
    font-size: 12px;
    letter-spacing: 2px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.login-button:hover{
    background-color: #F7CA9E;
    border: 2px solid #F7CA9E;
}

.signup-button{
    border-radius: 30px;
    background-color: #F89A36;
    border: 2px solid #F89A36;
    color: white;
    margin-top: 2px;
    padding: 13px;
    width: 130px;
    font-size: 12px;
    letter-spacing: 2px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.signup-button:hover{
    background-color: #F7CA9E;
    border: 2px solid #F7CA9E;
}

.add-text{
    color: #8295B6;
    transform: translate(235px, -30px);
    font-size: 12pt;
    width:50px;
    height:16px;
}

.add-text:hover{
    cursor: pointer;
    color: #CAD2DF;
}

.errors {
    width: 20%;
    left: 40%;
    top: 2%;
    line-height: 3px;
    margin: auto;
    border: 1px solid #a94442;
    color: #a94442;
    background: #f2dede;
    text-align: center;
    z-index: 999;
    position: absolute;
    font-size: 10pt;
}

.success {
    color: #3c763d;
    background: #dff0d8;
    border: 1px solid #3c763d;
    margin-bottom: 20px;
    text-align: center;
}

.logout{
    color: #49A9FD;
    position: relative;
    text-align: center;
}

.logout:hover{
    cursor: pointer;
    color: red;
}

footer{
    text-transform: uppercase;
    position: fixed;
    bottom: 10%;
    width: 100%;
    text-align: center;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}